body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.navbar {
	border-radius: 0 !important;
}

.main-container {
	margin-right: 20% !important;
	margin-left: 20% !important;	
}

.button-area {
	width: auto !important;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 60px;
}

.research-item {
	display: flex !important;
	flex-direction: column !important;
}

.info {
	display: flex !important;
	flex-direction: row !important;
}
.image.medium {
	height: 250px !important;
}

.research-info {
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-left: 20px;
}

.paper {
	margin: auto !important;
}

.paperInfo {
	margin: auto !important;
}

.vote-segment {
	border: 0 !important;
	display: flex;
	flex-direction: column;
}

.vote-buttons {
	margin: auto !important;
	margin-top: 10px !important;	
}

.vote-title {
	text-align: center;
}

.vote-modal {
	width: 50% !important;
}

.button {
	margin: auto;
}

.left {
	margin: auto;
}

.fundModal {
	display: flex;
	flex-direction: column;
	margin: auto;
}

.input, .btns, .submit {
	margin-top: 10px !important;
}

.annotationLayer {
	display: none !important;
}

.add-research-button {
	position: fixed;
	bottom: 30px;
	right: 30px;
}

.login-form {
	margin-top: 20%;
}

.logged-user {
	color: white;
	text-align: right;
	margin: auto;
	width: 100%;
}

.popup {
	z-index: 1000 !important;
}

.history-feed {
	top: 60px !important;
	right: 160px !important;
	position: fixed !important;
	display: flex !important;
	flex-direction: column !important;
	width: 220px !important;
	max-height: 80vh !important;
	overflow-y: scroll;
	color: white;
}

.ResearchPublished {
	background-color: #16ab39 !important;
}

.Registration {
	background-color: #2185d0 !important;

}

.Staked {
	background-color: #2185d0 !important;
}

.StartReproduce {
	background-color: #6435c9 !important;

}

.SubmitReproduction {
	background-color: #0069af !important;

}

.Voted {
	background-color: #16ab39 !important;
}

.VoteCompleted {
	background-color: #6435c9!important;

}

.history-item {
	width: 100% !important;
	margin-bottom: -5px !important;
	height: 50px;
}

.history-title {
	color: #000;
	text-align:center;
}